{% extends "base.html" %}

{% block title %}VOD Library - {{ vod }}{% endblock title %}

{% block content %}
    <nav>
        <ul>
            <li class="back"><a href="/">Back to list</a></li>
        </ul>
    </nav>

    <h1>{{ vod }}</h1>
    
    <div class="download">
        <a href="/files/{{ vod }}" download>⏬ Direct download</a>
    </div>

    <video controls width="90%" height="90%">
        <source src="/files/{{ vod }}">
        Your browser does not support the video tag.
    </video>
{% endblock content %}

<body>
    </body>
</html>
